.Form {
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__header {
    align-self: center;
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: rgba($color: #fff, $alpha: 0.6);
  }

  &__input {
    opacity: 0.8;
    text-align: center;
    transition: 0.3s;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &__btn {
    opacity: 0.8;
    margin-top: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem !important;
  }

  &__error-msg {
    letter-spacing: 1px;
    font-size: 0.7rem !important;
  }
}
